{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}


{% if form %}
<div class="well bs-component">
    <h4>Группа: {{ group.name }} </h4>
    <h4>Предмет: {{ group.discipline.name }}</h4>
    <br>
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseForm" aria-expanded="false"
   aria-controls="collapseForm">
    Редактирование
</a>
<p></p>
<div class="collapse" id="collapseForm">
    <form action="" method="post" class="form" role="form">
        {% include '_form.html' %}
        <!-- Триггер для всплывающего окна-->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Удалить
        </button>
    </form>
    <!-- Подтверждение -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Удаление</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить группу {{ group.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger"
                       href="{{ url_for('main.remove_group', group_id=group.id) }}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

<div class="well bs-component">
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#addForm" aria-expanded="false"
       aria-controls="collapseForm">
        Редактирование
    </a>
    <p></p>
    <div class="collapse" id="addForm">
        <form action="{{ url_for('main.group_add_students', group_id=group.id) }}" method="post" class="add_form" role="form">
            <div class="form-group required">
                <label class="control-label" for="id_list">Список id</label>
                <textarea class="form-control" id="id_list" name="id_list" required rows="10"></textarea>
            </div>
            <input class="btn btn-default" id="submit_multiple" name="add_submit" type="submit" value="Добавить несколько">
        </form>
        </form>
    </div>
</div>

{% if group.mentors.count() > 0 %}
<div class="well bs-component">
    <h3>Наставник:</h3>
    {% for mentor in group.mentors %}
    <a href="{{ url_for('admins.mentor', username=mentor.username)}}">
        <h4>
            {{ mentor.first_name }} {{ mentor.last_name }}
        </h4>
    </a>
    {% endfor %}
</div>
{% endif %}

{% if group.students.count() > 0 %}
<div class="well bs-component">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Вконтакте</th>
            <th>Баллы</th>
        </tr>
        </thead>
        <tbody>
        {% for student in group.students|sort(attribute='last_name') %}
        <tr>
            <td><a href="{{ url_for('students.student', student_id=student.id) }}">
                {{ student.username }}
            </a></td>
            <td><a href="https://vk.com/id{{ student.vk_id }}">
                vk.com/id{{ student.vk_id }}
            </a></td>
            <td>{{ student.total_points() }}</td>
            <td>
                <a role="button" class="btn btn-primary"
                href="{{ url_for('main.remove_user',group_id=group.id, student_id=student.id) }}">
                    Удалить
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}