{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <h4>
        {{ discipline.name }}
    </h4>
    <!-- Триггер для всплывающего окна-->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Удалить
    </button>

    <!-- Подтверждение -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Удаление</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить ПРЕДМЕТ - {{ discipline.name }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger"
                       href="{{ url_for('disciplines.remove_discipline', discipline_id=discipline.id) }}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    {% if form %}
    <div class="well bs-component">
        <form action="" method="post" class="form" role="form">
            {% include '_form.html' %}
        </form>
    </div>
    {% endif %}
    {% if discipline.themes.count() > 0 %}
        <div class="well bs-component row">
            <h3>Темы:</h3>
            <ul>
            {% for theme in discipline.themes %}
                <li>
                    <h4>{{ theme.name }} - макс. {{ theme.max_points }}</h4>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>


{% endblock %}