
{% macro render(mentor) %}

<div class="col-xs-6 col-md-3 ">
<div class="well bs-component">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ url_for('admins.mentor', username=mentor.username) }}" >
                {{ mentor.last_name }} {{ mentor.first_name }}</a>
        </h4>
        <h5 class="card-title">{{ mentor.username }}</h5>
        <p>
            Уровень доступа: {{ mentor.access }}
        </p>
        {% if mentor.access.name in ['Наставник', 'Главный наставник'] %}
        <p>
            Предмет: {{ mentor.discipline.name}}
        </p>
        {% endif %}
    </div>
</div>
</div>
</div>

{% endmacro %}